/TeamGreeting/nbproject/private/
/TeamGreeting/build/
/Assignment3/nbproject/private/
/Assignment 3/nbproject/private/
/ProfileWorkareaExample/build/
/ProfileWorkareaExample/nbproject/private/
/FINAL_PRESENTATION/build/
/FINAL_PRESENTATION/nbproject/private/
/DRAFT_2_ProfileWorkareaExample/build/
/DRAFT_2_ProfileWorkareaExample/dist/
/DRAFT_2_ProfileWorkareaExample/nbproject/private/
